# Database Configuration
DATABASE_URL="postgresql://neondb_owner:npg_OCQRXwP49fxe@ep-still-cake-adv00rds-pooler.c-2.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

# Security
JWT_SECRET="836c951d-53c6-4522-bb2b-12cf1f1fdd78"
BCRYPT_COST="12"

# Optional: Environment
NODE_ENV="development"
